@font-face {
  font-family: 'Jetbrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/JetbrainsMono/JetBrainsMono-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/JetbrainsMono/JetBrainsMono-Bold.ttf'), local('ttf');
  font-display: swap
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf'), local('ttf');
  font-display: swap;
}


@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/inter/v3/UcCO3Fwr0p9g3k3PpA.woff2') format('woff2');
  font-display: swap;
}


@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/inter/v3/UcCO3Fwr0p9g3k3PpA.woff2') format('woff2');
  font-display: swap;
}