<footer>
  <p style="text-align: center; font-size: 0.75em; margin-top: 3em;">
    Built with
    <a target="_blank" rel="noopener noreferrer" href="https://www.getzola.org"
      >Zola</a
    >
     on
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/eigengravy/andromeda"
      >andromeda</a
    >, a fork of
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/not-matthias/apollo"
      >apollo</a
    >. Updated on {{config.extra.last_updated | safe}}.
  </p>
</footer>
