img {
  border: 3px solid #ececec;
  max-width: 100%;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}

figure h4::before {
  content: "↳ ";
}

svg {
  max-height: 15px;
}

@media all and (min-width: 640px) {
  // .image {
  //   float: left;
  //   margin-right: 40px;
  // }

  .image {
    float: right;
    margin-left: 40px;
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image > img {
  width: 12rem;
  height: 12rem;
  border: none;
  overflow: hidden;
  object-fit: cover;
}